@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

body {
    background-color: #0F0F0F;
    color: #FFFFFF;
    overflow: hidden;
}

.main {
    display: flex;

}

.hero {
    border-right: 1px solid #303030;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero__content {
    width: 1194px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero__info {
    padding: 80px 0 80px 120px;
    border-bottom: 1px #303030 solid;
}

.hero__title {
    font-size: 68px;
    font-weight: 600;
}

.offer__content {
    padding: 80px 0 0 100px;
}

.offer__info {
    width: 936px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.offer__info-title {
    font-size: 25px;
    font-weight: 600;
}

.offer__info-desc {
    font-size: 23px;
    font-weight: 300;
}

.offer__list {
    font-size: 23px;
    line-height: 28px;
    font-weight: 300;
}

.offer__list-title {
    font-weight: 600;
}

b {
    font-weight: 600;
}

.modal__close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}